@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Solheimslien 36<br />
    5056 Bergen<br />
    Phone: 452 15 465
</address>

<address>
    <strong>Email:</strong> <a href="mailto:fredrik.leknes@gmail.com">fredrik.leknes@gmail.com</a><br />
</address>
